In [1]:
!python --version

Python 3.7.6

# Python_ Notes:

### Varibles in Pythone :

Python is not statically typed. 

This means you need not declare variables before using them in your program.

Every variable in Python is an object.

The following line of code defines an integer whose value is 20 with the variable name as age.

In [8]:
age = 20

print(age)

20

### String Variables:

To define a string use single or double quotes as below.

firstname = 'Alpha'

secondname = "Bravo"

In [4]:
city= "indore"
print(city)

indore

### Arithmetic Operators:

As in other languages, the standard arithmetic operators are addition (+), subtraction (-), multiplication (*), and
division (/).

**The below line prints 120.0 as the output**

In [10]:
u=1400
v=20
x=10
y=8
z=5

print (u/v + x + y*z)

120.0

In [5]:
a,b,c = 4,4,4
print(a/2 +b/2 +c/2)

6.0

### Modifying Default New Line Append in print function

By default, the print function in Python3 appends a new line in the end.

As an example, the below code prints one and two in separate (subsequent) lines.

In [11]:
print ("one")

print ("two")

one
two

If we wish to print both one and two in the same line, we can use the code given below.

In [12]:
print ("one", end="")

print ("two")

onetwo

The end argument says append only an empty string after one instead of the default new line.

If we wish to print a hyphen in between lines we can use the code given below.

In [13]:
print ("one", end="-")

print ("two")

one-two

In [20]:
x=5
y=9
print(x,end="*")
print(y)

5*9

### Reading input - int datatype

The function input() is used to read the input from standard input. The input data is always treated as string.

The below program accepts two integer values and tries to print their sum.

In [21]:
x = input()
y = input()
print (x+y)

1
2
12

So if the input values are 12 and 34, we would expect the output to be 46.
BUT the OUTPUT of the program is 1234 as x and y treated as string values and the value of y is
appended to the value of x.


To convert the string to int we use the int() function. The below program will print 46.

In [6]:
x = int(input())
y = int(input())
print (x+y)

2
3
5

### Reading Input - float datatype

To convert the input string to float we use the float() function. The below program will print 10.52 for the input
values 4.12 and 6.40

In [2]:
x = float(input())
y = float(input())
print (x+y)

2.3
5.6
7.8999999999999995

### Rounding float value

To round float values, we can use the function round.
The program given below rounds the value of the variable price to 2 decimal places.

In [7]:
price = 116.619
print (round(price,2))

116.62

### Case Sensitivity in Python

Python is a case sensitive programming language. Hence the following program will result in the error

"NameError: name 'firstname' is not defined"

In [8]:
firstName = "ABCDEF"
print (firstname)

NameError: name 'firstname' is not defined

The error is caused as N is in upper case in firstName and is in smaller case in firstname.
The valid program is either

In [12]:
firstName = "ABCDEF"
print (firstName)

# #or
# firstname = "ABCDEF"
# print (firstname)

ABCDEF

### Invalid characters in identifiers

Python does not allow characters like @, $, and % in identifiers (variable names).
Hence the following variable names are invalid.

In [16]:
my$name = "FirstNameLastName"
%discount = 10

SyntaxError: invalid syntax (<ipython-input-16-6d16586fbbbf>, line 1)