# VARIABLES AND SIMPLE DATA TYPE

### String:

In [16]:
"This is a string."

'This is a string.'

In [15]:
'This is also a string.'

'This is also a string.'

In [17]:
'I told my friend, "Python is my favorite language!"'

'I told my friend, "Python is my favorite language!"'

In [18]:
"The language 'Python' is named after Monty Python, not the snake."

"The language 'Python' is named after Monty Python, not the snake."

In [19]:
"One of Python's strengths is its diverse and supportive community."

"One of Python's strengths is its diverse and supportive community."

In [25]:
name = "sachin tendulkar"
print(name.title())
print(name.upper())
print(name.lower())

Sachin Tendulkar
SACHIN TENDULKAR
sachin tendulkar

#### f-strings

In [30]:
# f-strings. The f is for format:

first_name = "sachin"
last_name = "tendulkar"
full_name = f"god {first_name} {last_name}"
print(full_name)

# f-strings is from Python 3.6. If you’re using Python 3.5 or earlier, you’ll need to use the format()
# full_name = "{} {}".format(first_name, last_name)

god sachin tendulkar

#### strip()

In [35]:
favorite_language = ' python '
favorite_language.rstrip()

' python'

In [36]:
favorite_language.lstrip()

'python '

In [37]:
favorite_language.strip()

'python'

***

In [11]:
3**3

27

In [13]:
2**4

16

In [38]:
universe_age = 14_000_000_000 #use underscores to make large numbers more readable
universe_age

14000000000

In [10]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

***

### Lists:

In [141]:
[10,20]

[10, 20]

#### modifying element:

In [43]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

motorcycles[0] = 'ducati'
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']

#### adding element:

In [45]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

motorcycles.append('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']

#### inserting element:

In [47]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

motorcycles.insert(0,'ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'honda', 'yamaha', 'suzuki']

#### Removing element:

In [49]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

del motorcycles[1]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'suzuki']

#### poping element:

In [55]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

popped_motorcycle = motorcycles.pop()

print(motorcycles)
print(f"poped item: {popped_motorcycle}")

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
poped item: suzuki

#### Popping Items from any Position in a List:

In [58]:
motorcycles = ['honda', 'yamaha', 'suzuki']
first_owned = motorcycles.pop(0)
print(f"The first motorcycle I owned was a {first_owned.title()}.")

The first motorcycle I owned was a Honda.

#### Removing an Item by Value:

In [61]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)
motorcycles.remove('yamaha')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'suzuki', 'ducati']

#### Sorting a List:

In [63]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [64]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort(reverse=True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

#### Sorting a List Temporarily:  "sorted()"

In [65]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print("Here is the sorted list:")
print(sorted(cars))

print("\nHere is the original list again:")
print(cars)

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']

#### List in Reverse Order:

In [66]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)
cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

#### Length of a List:

In [67]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
len(cars)

4

### Working with L ists

#### Looping

In [69]:
magicians = ['alice', 'david', 'carolina']
for x in magicians:
    print(x)

alice
david
carolina

#### Making Numerical Lists: "range()"

In [73]:
for value in range(5):
    print(value)

0
1
2
3
4

In [72]:
for value in range(1, 5):
    print(value)

1
2
3
4

#### Using range() to Make a List of Numbers

In [74]:
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

In [75]:
even_numbers = list(range(2, 11, 2))
print(even_numbers)

[2, 4, 6, 8, 10]

#### create a List:  square of each integer from 1 through 10

In [80]:
s=[]
for x in range(1,11):
    s.append(x**2)
s

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### Or through : List Comprehensions

In [123]:
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### Simple Statistics with a List of Numbers

In [115]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [116]:
min(digits)

0

In [117]:
max(digits)

9

In [119]:
sum(digits)

45

#### Slicing a List

In [124]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[0:3])

['charles', 'martina', 'michael']

In [131]:
players[:-1]

['charles', 'martina', 'michael', 'florence']

In [133]:
players[-3:]

['michael', 'florence', 'eli']

***
### Tuples
Lists work well for storing collections of items that can change throughout
the life of a program.
**immutable**

In [140]:
(10,20)

(10, 20)

In [155]:
#or
10,20

(10, 20)

In [145]:
dimensions =(200,50)
dimensions[0]

200

In [150]:
#immutable:

#dimensions[0]=150               #Error

In [162]:
#but we can write over:
dimensions=(300,90)

In [161]:
for x in dimensions:
    print(x)

300
90

***

#### Conditional Test:

In [1]:
a1, a2 = 22, 23

In [2]:
(a1>=20) and (a2>=20)

True

In [3]:
(a1>=20) & (a2>=20)

True

In [175]:
(a1>=30) or (a2>=20)

True

In [6]:
(a1>=30) | (a2>=20)

True

In [176]:
requested_toppings = ['mushrooms', 'onions', 'pineapple']
'mushrooms' in requested_toppings

True

In [178]:
requested_toppings = ['mushrooms', 'onions', 'pineapple']
'apple' not in requested_toppings

True

#### The if-elif-else Chain:
Consider an amusement park that charges different rates for different age groups:

• Admission for anyone under age 4 is free.

• Admission for anyone between the ages of 4 and 18 is $25.

• Admission for anyone age 18 or older is $40.

In [192]:
age=int(input())
if age>18:
    print('$40')
elif age>4:
    print('$25')
else:
    print('Free')

55
$40

##### Or

In [196]:
age = int(input())
if age < 4:
    print("Free")
elif age < 18:
    print("$25.")
else:
    print("$40.")

5
$25.

##### Or

In [198]:
age = int(input())
if age < 4:
    price = 0
elif age < 18:
    price = 25
else:
    price = 40
print(f"Your admission cost is ${price}.")

5
Your admission cost is $25.